<h2>Sign Up</h2>

<form action="<%= users_url %>" method="POST">

<label>Username
<input name="user[username]" type="text" value=""></label>
<label>Password
<input name="user[password]" type="text" value=""></label>
<input type="submit" value="Sign Up">
