.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
  margin: 5px;
}

.left-nav > ul > li {
  margin: 5px 20px;
  cursor: pointer;
  font-family: sans-serif;
  transition: background-color 0.2s ease;
}
.right-nav > ul > li {
   margin: 5px 2px;
}

.right-nav > ul > li:last-of-type {
  font-size: 14px;
  transition: background-color 0.2s ease;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  color: $lightest-gray;
}

.left-nav span {

}


.right-nav i {

}

@media all and (max-width: 1000px) {
	.right-nav {
		display: none;
  }
  .left-nav {
    margin: 0;
  }
}