/* PHASE 5: Cats */



.content-header {
  height: 200px;
  width: 100%;
  background-image: url("../images/cats.jpg");
  position: relative;
  background-size: cover;
  
}

.content-header h1 {
  position: absolute;
  bottom: 10px;
  color: white;
  font-size: 36px;
  left: 27%;
  font-weight: lighter;
  text-shadow: 2px 2px black;
  line-height: 1;
}

.content-header button {
  position: absolute;
  bottom: 10px;
  right: 15px;
  background-color: white;
  font-weight: bold;
  padding: 7px;
  border: 1px solid black;
  border-radius: 5px;
}